@model ContactPage.Models.Item

@{
    ViewData["Titel"] = "Редактирование";
}

<h1>Оборудование</h1>

<h4>Редактирование</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ItemId" />

            <div class="container overflow-hidden">
                <div class="form-row gy-1">
                    <div class="form-group col-md-4">
                        <label asp-for="GuidId" class="control-label"></label>
                        <input asp-for="GuidId" class="form-control" /> <!--disabled-->
                        <span asp-validation-for="GuidId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="TypeItem" class="control-label"></label>
                        <select asp-for="TypeItem" asp-items="Html.GetEnumSelectList<TypesItem>()" class="form-control"></select>
                        <span asp-validation-for="TypeItem" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container overflow-hidden">
                <div class="form-row gy-4">
                    <div class="form-group col-md-4">
                        <label asp-for="Company" class="control-label"></label>
                        <input asp-for="Company" class="form-control" />
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Serial" class="control-label"></label>
                        <input asp-for="Serial" class="form-control" />
                        <span asp-validation-for="Serial" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4"></div>
                </div>
            </div>

            <div class="container overflow-hidden">
                <div class="form-row gy-4">
                    <div class="form-group col-md-4">
                        <label asp-for="AssignedEmployee" class="control-label"></label>
                        <input asp-for="AssignedEmployee" class="form-control" />
                        <span asp-validation-for="AssignedEmployee" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="WhereIs" class="control-label"></label>
                        <input asp-for="WhereIs" class="form-control" />
                        <span asp-validation-for="WhereIs" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4"></div>
                </div>
            </div>

            <div class="container overflow-hidden">
                <div class="form-row gy-4">
                    <div class="form-group col-md-6">
                        <label asp-for="NameDescriptionInfo" class="control-label"></label> *
                        <input asp-for="NameDescriptionInfo" class="form-control" />
                        <span asp-validation-for="NameDescriptionInfo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="DescriptionInfo" class="control-label"></label> *
                        <textarea asp-for="DescriptionInfo" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionInfo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container overflow-hidden">
                <div class="form-row gy-4">
                    <div class="form-group col-md-6">
                        <label asp-for="NameDescriptionLicense" class="control-label"></label> *
                        <input asp-for="NameDescriptionLicense" class="form-control" />
                        <span asp-validation-for="NameDescriptionLicense" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="DescriptionLicense" class="control-label"></label> *
                        <textarea asp-for="DescriptionLicense" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionLicense" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container overflow-hidden">
                <div class="form-row gy-4">
                    <div class="form-group col-md-6">
                        <label asp-for="NameDescriptionProgramm" class="control-label"></label> *
                        <input asp-for="NameDescriptionProgramm" class="form-control" />
                        <span asp-validation-for="NameDescriptionProgramm" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="DescriptionProgramm" class="control-label"></label> *
                        <textarea asp-for="DescriptionProgramm" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionProgramm" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="submit" value="Применить" class="btn btn-primary" />
                </div>
                <div class="form-group col-sm-6">
                    <a asp-action="ItemView" asp-route-id="@Model.ItemId" class="btn btn-default"><i class="fa fa-table"></i> Назад</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-12">
    <p>* - При добавлении описания можно использовать разметку HTML</p>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}