@{
    ViewData["Title"] = "ДД";
}

<div class="jumbotron">
    <h1>FAQ DD</h1>
    <p class="lead">База знаний компании "Дизайн Досье"</p>
</div>



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.mk.ru/upload/entities/2020/04/13/13/articles/facebookPicture/36/ae/8c/f0/2fd8acbcda890c2b53420b22c000fcd8.jpg" alt="Контакты">
            <div class="caption">
                <h3>Контакты подрядчиков</h3>
                <p>База контактов для общего пользования в компании. Смотрите, пользуйте, добавляйте!</p>
                <p><a class="btn btn-primary" asp-controller="Contact" asp-action="Index">Подробнее &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://raiffinfo.ru/wp-content/uploads/2017/09/Kredit-pod-zalog-documenti.jpg" alt="...">
            <div class="caption">
                <h3>Список оборудования</h3>
                <p>Оборудование компании, которое находится в офисе.</p>
                <p><a class="btn btn-primary" asp-controller="Equipment" asp-action="Index">Подробнее &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://publishernews.ru/images/PressReleases/202003/press_r_FC8C0A98-77DF-4726-A191-2FB9EFBD0199-f.jpg" alt="...">
            <div class="caption">
                <h3>Архив</h3>
                <p>Тут мог бы быть файловый архив. В далекой разработке.</p>
                <p><a class="btn btn-primary" asp-action="Archive">Подробнее &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
