@{ 
    ViewData["Title"] = "Офисная сеть";
}
<style type="text/css">
          @@media screen
          {
          body {font-family:Verdana, Geneva, sans-serif; background:#fff; color:#10494E;}
          table {border:1px solid #b3cddc;!important border-collapse:collapse; border-spacing:0px;}
          th {background-color:#c8dfec; text-align:AIPS Results; padding:5px 10px;}
          td {padding-left:10px; padding-right:10px;}
          .r1 {background-color:#e9f4fb;}
          .r2 {background-color:#f3f8fb;}
          .head {padding-top:3px; padding-bottom:3px; border-top:1px solid #fff;}
          .res, .rhead {font-size:0.8em; padding-top:1px; padding-bottom:2px;}
          .res {float:left; padding-left:15px;}
          .rhead {float:left; margin-left:30px;}
		  .svc { color:#000000;}
          }
</style>
<div class="col-md-12 gy-4">
    <div class="text-center">
        <h1>Адреса которые находятся в офисной сети</h1>
        <p>Не подгружается динамично!</p>
        <hr />
    </div>
</div>

<table class="table table-hover">
    <thead class="">
        <tr>
            <th width="7%">Статус</th>
            <th>Имя</th>
            <th width="18%">IP</th>
            <th width="18%">Производитель</th>
            <th width="18%">MAC адрес</th>
            <th width="18%">Комментарий</th>
        </tr>
    </thead>
    <tbody>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">XC-8F6DD3</td>
            <td class="head">192.168.7.244</td>
            <td class="head">Xerox Corporation</td>
            <td class="head">9C:93:4E:8F:6D:D3</td>
            <td class="head">Принтер общий холл</td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.244">HTTP</a>:</div>
                <div class="res">?</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.202</td>
            <td class="head">192.168.7.202</td>
            <td class="head">Routerboard.com</td>
            <td class="head">64:D1:54:AC:5B:8F</td>
            <td class="head">MikroTik</td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.202">HTTP</a>:</div>
                <div class="res">RouterOS router configuration page (MikroTik router config httpd)‎</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="ftp://192.168.7.202">FTP</a>:</div>
                <div class="res">MikroTik router ftpd 6.39.2</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.201</td>
            <td class="head">192.168.7.201</td>
            <td class="head">Routerboard.com</td>
            <td class="head">6C:3B:6B:49:FF:B9</td>
            <td class="head">MikroTik</td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.200</td>
            <td class="head">192.168.7.200</td>
            <td class="head"></td>
            <td class="head">74:4D:28:9B:54:45</td>
            <td class="head">MikroTik</td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.200">HTTP</a>:</div>
                <div class="res">RouterOS router configuration page (MikroTik router config httpd)‎</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="ftp://192.168.7.200">FTP</a>:</div>
                <div class="res">MikroTik router ftpd 6.45.6</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.197</td>
            <td class="head">192.168.7.197</td>
            <td class="head"></td>
            <td class="head">4E:A5:8F:3C:AD:85</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-290A5B8</td>
            <td class="head">192.168.7.194</td>
            <td class="head">GIGA-BYTE TECHNOLOGY CO.,LTD.</td>
            <td class="head">1C:1B:0D:E4:EA:88</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">CGGeneralist</td>
            <td class="head">192.168.7.193</td>
            <td class="head">ASUSTek COMPUTER INC.</td>
            <td class="head">2C:4D:54:43:B5:0F</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">LAPTOP-NDO668OU</td>
            <td class="head">192.168.7.181</td>
            <td class="head">Hon Hai Precision Ind. Co.,Ltd.</td>
            <td class="head">28:56:5A:44:61:9D</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-QIOUV5P</td>
            <td class="head">192.168.7.180</td>
            <td class="head">ASUSTek COMPUTER INC.</td>
            <td class="head">2C:FD:A1:5D:3E:46</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Общие папки:</div>
                <div class="res">Users</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.166</td>
            <td class="head">192.168.7.166</td>
            <td class="head">Apple, Inc.</td>
            <td class="head">88:AE:07:CB:8F:C9</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">user-пк</td>
            <td class="head">192.168.7.140</td>
            <td class="head">TP-LINK TECHNOLOGIES CO.,LTD.</td>
            <td class="head">D4:6E:0E:11:01:17</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-JRIVJ2K</td>
            <td class="head">192.168.7.139</td>
            <td class="head">G-PRO COMPUTER</td>
            <td class="head">00:23:24:EE:67:4A</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">YULYA_NOUT</td>
            <td class="head">192.168.7.138</td>
            <td class="head">Hon Hai Precision Ind. Co.,Ltd.</td>
            <td class="head">28:56:5A:54:A4:8D</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.109</td>
            <td class="head">192.168.7.109</td>
            <td class="head">Apple, Inc.</td>
            <td class="head">C8:D0:83:BF:35:18</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">mci1</td>
            <td class="head">192.168.7.101</td>
            <td class="head">Micro-Star INT'L CO., LTD.</td>
            <td class="head">44:8A:5B:30:EB:7E</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-PC33USO</td>
            <td class="head">192.168.7.94</td>
            <td class="head">ASUSTek COMPUTER INC.</td>
            <td class="head">18:31:BF:21:E7:94</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.91</td>
            <td class="head">192.168.7.91</td>
            <td class="head"></td>
            <td class="head">4C:20:B8:77:FC:40</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">Designer</td>
            <td class="head">192.168.7.89</td>
            <td class="head">ASUSTek COMPUTER INC.</td>
            <td class="head">18:31:BF:52:9E:BA</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.67</td>
            <td class="head">192.168.7.67</td>
            <td class="head"></td>
            <td class="head">00:00:00:00:00:00</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.60</td>
            <td class="head">192.168.7.60</td>
            <td class="head"></td>
            <td class="head">00:00:00:00:00:00</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">SEC8425197A08C1</td>
            <td class="head">192.168.7.58</td>
            <td class="head">Samsung Electronics</td>
            <td class="head">84:25:19:7A:08:C1</td>
            <td class="head">Принтер Бух. (М2070)‎</td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.58">HTTP</a>:</div>
                <div class="res">?</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.57</td>
            <td class="head">192.168.7.57</td>
            <td class="head">NETGEAR</td>
            <td class="head">9C:3D:CF:01:3B:9B</td>
            <td class="head">Роутер Wi-Fi Бух.</td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.57">HTTP</a>:</div>
                <div class="res">NETGEAR R8000</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="ftp://192.168.7.57">FTP</a>:</div>
                <div class="res">Bftpd 1.6.6</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">MSI-EXPO1</td>
            <td class="head">192.168.7.55</td>
            <td class="head">Micro-Star INT'L CO., LTD.</td>
            <td class="head">44:8A:5B:30:EB:82</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.50</td>
            <td class="head">192.168.7.50</td>
            <td class="head">Routerboard.com</td>
            <td class="head">6C:3B:6B:49:FF:B9</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">TENDERPC</td>
            <td class="head">192.168.7.48</td>
            <td class="head">Hewlett Packard</td>
            <td class="head">30:E1:71:25:3E:FA</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">EkaterinaSonnya</td>
            <td class="head">192.168.7.38</td>
            <td class="head">GIGA-BYTE TECHNOLOGY CO.,LTD.</td>
            <td class="head">E0:D5:5E:09:95:AA</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.37</td>
            <td class="head">192.168.7.37</td>
            <td class="head">SAMSUNG ELECTRO-MECHANICS(THAILAND)‎</td>
            <td class="head">6C:C7:EC:D1:05:81</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">ZVERDVD-GKMQ0VD</td>
            <td class="head">192.168.7.31</td>
            <td class="head">Liteon Technology Corporation</td>
            <td class="head">98:22:EF:B3:D7:EF</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">KATYA-DESCTOP</td>
            <td class="head">192.168.7.30</td>
            <td class="head">Micro-Star INTL CO., LTD.</td>
            <td class="head">4C:CC:6A:6B:84:0B</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-EJJBDJC</td>
            <td class="head">192.168.7.29</td>
            <td class="head"></td>
            <td class="head">04:D4:C4:25:20:55</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-EQGKL92</td>
            <td class="head">192.168.7.27</td>
            <td class="head">ASRock Incorporation</td>
            <td class="head">70:85:C2:A6:54:A0</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.19</td>
            <td class="head">192.168.7.19</td>
            <td class="head"></td>
            <td class="head">92:69:BA:28:F3:26</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.17</td>
            <td class="head">192.168.7.17</td>
            <td class="head">GIGA-BYTE TECHNOLOGY CO.,LTD.</td>
            <td class="head">E0:D5:5E:0A:D4:CB</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">DESKTOP-HRISTINA</td>
            <td class="head">192.168.7.16</td>
            <td class="head">GIGA-BYTE TECHNOLOGY CO.,LTD.</td>
            <td class="head">90:2B:34:5C:A7:59</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">192.168.7.15</td>
            <td class="head">192.168.7.15</td>
            <td class="head">Hon Hai Precision Ind. Co.,Ltd.</td>
            <td class="head">54:35:30:74:45:69</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">ZVERDVD-A4Q61PV</td>
            <td class="head">192.168.7.12</td>
            <td class="head">ASUSTek COMPUTER INC.</td>
            <td class="head">18:31:BF:52:9D:82</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">po_mapio</td>
            <td class="head">192.168.7.11</td>
            <td class="head">GIGA-BYTE TECHNOLOGY CO.,LTD.</td>
            <td class="head">E0:D5:5E:45:67:05</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">Server-HP</td>
            <td class="head">192.168.7.10</td>
            <td class="head">Hewlett Packard</td>
            <td class="head">2C:41:38:4F:7D:C0</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.10">HTTP</a>:</div>
                <div class="res">H264WebCam (H264WebCam)‎</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="ftp://192.168.7.10">FTP</a>:</div>
                <div class="res">ftp</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">MACBOOKPRO-F42F</td>
            <td class="head">192.168.7.5</td>
            <td class="head">Apple, Inc.</td>
            <td class="head">98:01:A7:A4:F4:2F</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
        <tr class="r1">
            <td class="head"></td>
            <td class="head">NPI643641</td>
            <td class="head">192.168.7.3</td>
            <td class="head">Hewlett Packard</td>
            <td class="head">F0:92:1C:64:36:41</td>
            <td class="head"></td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="http://192.168.7.3">HTTP</a>:</div>
                <div class="res">HP LaserJet 200 colorMFP M276n 192.168.7.3 (gSOAP 2.7)‎</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead"><a href="ftp://192.168.7.3">FTP</a>:</div>
                <div class="res">oftpd</div>
            </td>
        </tr>
        <tr class="r2">
            <td></td>
            <td colspan="5">
                <div class="rhead">Radmin:</div>
            </td>
        </tr>
    </tbody>
</table>